<!-- <div class="jumbotron">
    <h1 class="title">经典电影网</h1>
    <p class="slogan">我们只搜寻提供历史上的经典电影。
    <br>
    我们希望藉由这个网站，能让大家快速的找到那些可以让自己沉静 回味的电影。
    <br>
     把注意力放在电影本身上,而不是找电影上
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger btn-welcome" href="/jobs">马上应征</a></p>
  </div>

  <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1ffw1p979ycj305k05kjra.jpg" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>浙江天台山</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ws1.sinaimg.cn/large/006tKfTcgy1ffw1sagowgj305k05kglh.jpg" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>admin@test.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1ffw231dtbjj305o05kglh.jpg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>010-11111111</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<!-- //------nic------// -->

<div class="col-md-12">
   <div class="row box ">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">经典电影网</h1>
       <p class="slogan">
         我们只提供经典影片
       </p>
       <p class="lead">
         <%= link_to '马上应征', products_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>



 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">是不是一直在苦苦寻找经典影片</h2>
         <p class="lead">但却是烂片一大片</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'http://1.bp.blogspot.com/-L2UBzG4NxlQ/UzVZPYSJvgI/AAAAAAAAR2Q/3GtpnNb4nGw/s1600/00.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">我们推荐的每一部影片,不一定都合您的心意</h2>
         <p class="lead">但看了,必定发人深省,有所回味</p>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'http://img31.mtime.cn/pi/2016/08/29/111421.93783510_1000X1000.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">我们希望您宝贵的时间花在电影本身</h2>
         <p class="lead">而不是筛选电影,找片源,下载电影上</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'http://a4.att.hudong.com/38/50/01300000053870119869502288155.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>
